body {
    background-color: yellow;
}

h1{
    color: black;
    text-align:center;
    font-family:monospace;
}

#banner {
    width:100%;
    height:15%;
    background-color: white;
    align-self: center;
    justify-content: center;
}

#filter {
    width:20%;
    height:100%;
    background-color: aqua;
}

#searchbar {
    width:80%;
    height:5%;
    background-color:black;
}

#suggestedBackground {
    width:150px;
    height:47px;
    background-color: aqua;
}

#suggestedOne {
    display:block;
    color:black;
    font-size: 20px;
    text-align:center;
    padding:12px 16px;
    text-decoration: none;
}

#suggestedOne:hover{
    background-color:white;
}

#alphListBack{
    list-style-type:none;
    margin:0;
    padding:0;
    overflow:hidden;
    background-color:white;
}

li a{
    float:none;
    display:block;
    color:black;
    text-align:left;
    padding:12px 16px;
    text-decoration: none;
}

li a:hover{
    background-color:greenyellow;
}