asgiref==3.6.0
certifi==2022.12.7
charset-normalizer==3.1.0
Django==4.1.7
django-filter==23.2
django-haystack==3.2.1
django-recurrence==1.11.1
djangorestframework==3.14.0
idna==3.4
Markdown==3.4.3
mysqlclient==2.1.1
Pillow==9.5.0
pysolr==3.9.0
python-dateutil==2.8.2
pytz==2023.3
requests==2.29.0
six==1.16.0
sqlparse==0.4.4
urllib3==1.26.15
