{% load static %}

<html>
    <head>
        <meta charset="utf-8">
        <title>Club Page</title>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="{% static 'styles-clubs.css' %}">
    </head>
    <body>
        <div id = "banner" style="background-image: url({{ club.main_picture.url }});">
            <div id = "name-of-club"><h1>{{ club.name }}</h1></div>
        </div>
        
        <div id = "content">
            <div id = "mid">
                <div id = "upper-mid">
                    <div id = "sponsor">
                        <h2>Sponsor: {% for sponsor in sponsors %}{% include "comma.html" %}{{ sponsor.sponsor_name }}{% endfor %}</h2>
                        <p id = "emails"> Sponsor Email: {% for sponsor in sponsors %}{% include "comma.html" %}{{ sponsor.sponsor_email|urlize }}{% endfor %} </p>
                    </div>
                    <div id = "meeting-info">
                        <head> Meeting Time: {{ club.start_time }} - {{ club.end_time }}</head>
                    </div>
                </div>
                <div id = "lower-mid">
                    <div id = "info">
                        <p id = "classroom-code"> Classroom Code: {% if club.google_classroom_code %}{{ club.google_classroom_code }}{% else %}None{% endif %} </p>
                    </div>
                    <div class = "images">
                        <img src = "" alt = "Card image cap">
                    </div>
                </div>
            </div>

            <div id = "desc">
                <p> {{ club.description|linebreaks }} </p>
            </div>
        </div>
        
    </body>

</html>