{% load static %}

<html>
    <head>
        <meta charset="utf-8">
        <title>Main Page</title>
        <link rel="stylesheet" type="text/css" href="{% static 'styles.css' %}">
        <script src ="{% static 'search.js' %}"></script>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    </head>
    <body>

        <div id = "banner">

            <div id="pageTitle">
                <h1 id="text">ClubNav</h1>
            </div>
            
            <div id = "searchbar">
                <input type="text" id="myFilter" class="form-control" onkeyup="myFunction()" placeholder="Search Clubs">
            </div>

            <div id="logo">
                <img id="logoImg" src='https://www.d128.org/files/theme%20files/lhslogo-2.png'>
            </div>

        </div>


        <div id="mid">
            <div id="searchDown">
                <div id="topMid">
                    
                </div>
                
                <div id="bottomMid"> 
                
                    {% for club in clubs %}
                    <div class="cardOne">
                        <div class="imageHolder">
                            <img class="card-img-top" src="{{ club.main_picture }}" alt="Card image cap">
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">{{ club.name }}</h5>
                            <p class="card-text">{{ club.description|truncatewords:9 }}</p>
                            <a href={% url 'list:club-template' club.id %} class="btn btn-primary">Learn More</a>
                        </div>
                        </div>
                    {% endfor %}

              </div>
                
            </div>
            <div id="sidebar">
                <div id = "filter">
                    {% for category in getCategories %}
                
                    <div class="filterItem">
                        <div class="filterCheck">
                            <input type="checkbox" class="realCheck">
                        </div>
                        <div div class="filterTitle">
                                <h3>{{ category.categories }}</h3>
                        </div>
                    
                    </div>   

                    {% endfor %}
                </div>
            </div>
        </div>
        
        
        
    </body>
</html>
