div{
    text-align:center;
}

#name-of-club{

}

#banner {
    width:100%;
    height:20%;
    align-self: center;
    justify-content: center;
    margin-bottom: .5%;
    border: 1px black solid;
}

#mid{
    background-color: white;
}

#banner-pic {
    height: 20%;
}

#lower-mid {
    
}

#desc{

}

#name-of-club{
    
}

.images{
    float:right;
    width: 100%;
    height:20%;
}