body {
    background-color: grey;
}
div{
    border:1px black solid;
}
h1{
    color: black;
    text-align:center;
    font-family:monospace;
}

#banner {
    width:100%;
    height:20%;
    align-self: center;
    justify-content: center;
    margin-bottom: .5%;
}

#filter {
    width:18%;
    height:100%;
    margin-left: 1%;
}

#searchDown{
    width:80%;
    height:100%;
    display:flex;
    flex-direction:column;
    
}



#topMid{
    width:100%;
    height:25%;
    display:flex;
    justify-content: center;
    align-items: center;
}

#searchContainer{
    width:80%;
    height:60%;
    border: 1px black solid;
    display:flex;
}
#searchbar {
    width:80%;
    margin-left: 10%;
    height:50%;
    align-self: center;
    justify-content: center;
}


#mid{
    width:100%;
    height:100%;
    display:flex;
    /* flex-direction: row; */
}
#suggestedBackground {
    width:150px;
    height:47px;
    background-color: aqua;
}

#suggestedOne {
    display:block;
    color:black;
    font-size: 20px;
    text-align:center;
    padding:12px 16px;
    text-decoration: none;
}

#suggestedOne:hover{
    background-color:white;
}

#alphabeticalList{
    width: 40rem;
    clear:both;
}

.alphListBack{
    margin:0;
    padding:0;
    overflow:hidden;
    background-color:transparent;
    width:40rem;
}

li a{
    float:none;
    display:block;
    color:black;
    text-align:left;
    padding:12px 16px;
    text-decoration: none;
}

li a:hover{
    background-color:lightgrey;
}

.cardOne{
    margin:10px;
}

#bottomMid{
    width:100%;
    height:75%;
    display:flex;
    flex-direction: row;
}