div{
    text-align:center;
}

#name-of-club{
    color: white;
    text-align: start;
    position: absolute;
    top: 20%; left: 5%;
}

#banner {
    max-width:1000px;
    height:30%;
    margin: auto;
    margin-bottom: .5%;
    border: 1px black solid;
    background-size: cover; 
    background-position: center;
    box-shadow: inset 0px -20px 50px;
}

#mid{
    border: 1px black solid;
}

#banner-pic {
    height: 20%;
    width: 100%;
    object-fit: scale-down;
}

#lower-mid {
    
}

#desc{

}

#name-of-club{
    
}

.images{
    float:right;
    width: 100%;
    height:20%;
}