body {
    background-color: grey;
}

h1{
    color: black;
    text-align:center;
    font-family:monospace;
}

#banner {
    width:100%;
    height:20%;
    align-self: center;
    justify-content: center;
    margin-bottom: .5%;
}

#searchDown{
    width:80%;
    height:100%;
    display:flex;
    flex-direction:column;
    
}



#topMid{
    width:100%;
    height:25%;
    display:flex;
    justify-content: center;
    align-items: center;
}

#searchContainer{
    display:flex;
}
#searchbar {
    align-self: center;
    justify-content: center;
}


#mid{
    width:100%;
    display:flex;
}
#suggestedBackground {
    width:150px;
    height:47px;
    background-color: aqua;
}

#suggestedOne {
    display:block;
    color:black;
    font-size: 20px;
    text-align:center;
    padding:12px 16px;
    text-decoration: none;
}

#suggestedOne:hover{
    background-color:white;
}

#alphabeticalList{
    width: 40rem;
    clear:both;
}

.alphListBack{
    margin:0;
    padding:0;
    overflow:hidden;
    background-color:transparent;
    width:40rem;
}

li a{
    float:none;
    display:block;
    color:black;
    text-align:left;
    padding:12px 16px;
    text-decoration: none;
}

li a:hover{
    background-color:lightgrey;
}

.cardOne{
    text-decoration: none;
    margin-top: 40px;
    margin-left: 30px;
    display: flex;
    align-content: center;
    width: 300px;
    height: 400px;
    border-radius: 10px;
    flex-direction: column;
    box-shadow: 5px 5px 15px gray;
}

#bottomMid{
    width:100%;
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
}

#myFilter{
    width: 400px;
    height: 50px;
    border-radius: 8px;
    padding: 5px;

}
.imageHolder{
    height:200px;
    display: flex;
}
.card-img-top{
    overflow:hidden;
    object-fit: cover;
    object-position: left top;
}


#filter{
    border:1px solid black;
    display:flex;
    flex-direction: column;
    height:100%;

}

.filterItem{
    height:50px;
    display:flex;
}

.filterCheck{
  width:20%;
  display:flex;
  align-items: center;
  justify-content: center;
  
}

.filterTitle{
    width:80%;
    display: flex;
    align-items: center;
    padding: 5px;
}

.realCheck{
    width:20px;
    height: 20px;
}